<section
  class="bg-[#fff6f6] border-b border-[1px] border-[#eae8e4] border-t-0 border-r-0 border-l-0">
  <div class="p-4 md:p-6 inner-width mx-auto">
    <h4 class="py-6 text-3xl font-medium text-center">Your Cart: 4 items</h4>
    <div class="flex flex-col md:flex-row w-full md:justify-center gap-8">
      <div class="w-full md:w-3/4">
        <div class="table_wrapper">
          <table>
            <thead>
              <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="flex flex-row">
                    <img
                      src="./assets/cover_51.jpg"
                      class="w-[90px] h-[120px] object-contain" />
                    <div class="flex flex-col justify-center ml-4">
                      <h6
                        class="mb-2 text-base hover:text-custom-red-light cursor-pointer">
                        All You Can Ever Know: A Memoir - Hardcover
                      </h6>
                      <span
                        class="text-sm text-gray-700 hover:text-custom-red-strong"
                        >Anna Banks</span
                      >
                    </div>
                  </div>
                </td>
                <td class="text-base font-medium">$29.95</td>
                <td>
                  <input
                    class="border-[1px] border-[#eae8e4] max-w-[80px] py-4"
                    type="number" />
                </td>
                <td class="text-base font-medium">$29.95</td>
                <td><i class="pi pi-times" style="font-size: 1.5rem"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="w-full md:w-1/4 flex flex-col">
        <div class="border-[1px] border-black bg-white flex flex-col">
          <div class="flex flex-col p-6">
            <h4 class="font-medium text-lg mb-8">Cart Totals</h4>
            <div class="flex justify-between mb-4 pl-1">
              <p class="font-medium text-sm">Subtotal</p>
              <p class="font-medium text-sm">$102.49</p>
            </div>
            <div class="flex justify-between mb-4 pl-1">
              <p class="font-medium text-sm">Shipping</p>
              <p class="font-medium text-sm">$15.00</p>
            </div>
          </div>
          <hr />
          <div class="flex flex-col p-6">
            <h4 class="font-medium text-lg mb-8">Shipping</h4>
            <div class="flex justify-between mb-4 pl-1">
              <p class="font-medium text-sm">Kalisz, Wiejska 26c</p>
              <span
                class="ml-4 text-custom-red-light hover:text-custom-red-strong cursor-pointer"
                >(change)</span
              >
            </div>
          </div>
          <hr />
          <div class="flex flex-col p-6">
            <div class="flex justify-between items-center pl-1">
              <h4 class="font-medium text-2xl">Total</h4>
              <p class="font-medium text-sm">$102.49</p>
            </div>
          </div>
        </div>

        <div class="w-full mt-8">
          <button
            type="button"
            class="w-full py-4 bg-[#161619] text-white hover:bg-black">
            Checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
