<section
  class="bg-[#fff6f6] border-b border-[1px] border-[#eae8e4] border-t-0 border-r-0 border-l-0">
  <div class="p-4 md:p-6 inner-width mx-auto">
    <h4 class="py-6 text-3xl font-medium text-center">
      Your Cart: {{ totalQuantity }} items
    </h4>
    <div class="flex flex-col md:flex-row w-full md:justify-center gap-8">
      <div class="w-full md:w-3/4">
        <div class="table_wrapper">
          <table>
            <thead>
              <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cartItems">
                <td>
                  <div class="flex flex-row">
                    <img
                      src="./assets/cover_51.jpg"
                      class="w-[90px] h-[120px] object-contain" />
                    <div class="flex flex-col justify-center ml-4">
                      <h6
                        class="mb-2 text-base hover:text-custom-red-light cursor-pointer">
                        <span
                          class="font-medium hover:text hover:text-custom-red-light cursor-pointer"
                          >{{ item.name }}</span
                        >
                        -
                        {{ item.format.formatName }}
                      </h6>
                      <span
                        class="text-sm text-gray-700 hover:text-custom-red-strong cursor-pointer"
                        >{{ item.author }}</span
                      >
                    </div>
                  </div>
                </td>
                <td class="text-base font-medium">
                  {{ item.unitPrice | currency : 'USD' }}
                </td>
                <td>
                  <input
                    [(ngModel)]="item.quantity"
                    (change)="calculateChangedQuantity(item)"
                    class="border-[1px] border-[#eae8e4] max-w-[80px] py-4"
                    type="number"
                    min="0" />
                </td>
                <td class="text-base font-medium">
                  {{ item.unitPrice * item.quantity | currency : 'USD' }}
                </td>
                <td>
                  <i
                    (click)="removeItem(item)"
                    class="pi pi-times cursor-pointer"
                    style="font-size: 1.5rem"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="w-full md:w-1/4 flex flex-col">
        <div class="border-[1px] border-black bg-white flex flex-col">
          <div class="flex flex-col p-6">
            <h4 class="font-medium text-lg mb-8">Cart Totals</h4>
            <div class="flex justify-between mb-4 pl-1">
              <p class="font-medium text-sm">Subtotal</p>
              <p class="font-medium text-sm">
                {{ totalPrice | currency : 'USD' }}
              </p>
            </div>
            <div class="flex justify-between mb-4 pl-1">
              <p class="font-medium text-sm">Shipping</p>
              <p class="font-medium text-sm text-custom-red-lifht">FREE</p>
            </div>
          </div>
          <hr />
          <!--          <div class="flex flex-col p-6">
            <h4 class="font-medium text-lg mb-8">Shipping</h4>
            <div class="flex justify-between mb-4 pl-1">
              <p class="font-medium text-sm">Kalisz, Wiejska 26c</p>
              <span
                class="ml-4 text-custom-red-light hover:text-custom-red-strong cursor-pointer"
                >(change)</span
              >
            </div>
          </div>-->
          <hr />
          <div class="flex flex-col p-6">
            <div class="flex justify-between items-center pl-1">
              <h4 class="font-medium text-2xl">Total</h4>
              <p class="font-medium text-sm">
                {{ totalPrice | currency : 'USD' }}
              </p>
            </div>
          </div>
        </div>

        <div class="w-full mt-8">
          <button
            [ngClass]="{ disabled: this.totalQuantity === 0 }"
            routerLink="/shop/checkout"
            type="button"
            class="w-full py-4 bg-[#161619] text-white hover:bg-black">
            Checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
