<div class="w-full">
  <app-accordion [collapsing]="false">
    <accordion-item title="Categories">
      <ng-template appAccordionContent>
        <div class="p-4">A simple and customizable accordion component.</div>
      </ng-template>
    </accordion-item>
    <accordion-item title="Author">
      <ng-template appAccordionContent>
        <div class="p-4">A simple and customizable accordion component.</div>
      </ng-template>
    </accordion-item>
    <accordion-item title="Format">
      <ng-template appAccordionContent>
        <div class="p-4">A simple and customizable accordion component.</div>
      </ng-template>
    </accordion-item>
    <accordion-item title="Filter by price">
      <ng-template appAccordionContent>
        <div class="p-4">A simple and customizable accordion component.</div>
      </ng-template>
    </accordion-item>
  </app-accordion>
</div>
