<div class="w-full">
  <app-accordion [collapsing]="false">
    <accordion-item title="Categories">
      <ng-template appAccordionContent>
        <div class="product-list-sidebar">
          <ul class="list-none">
            <li *ngFor="let cat of bookCategories; index as i">
              <a
                routerLink="/shop/category/{{ cat.id }}"
                [routerLinkActive]="['active-link']"
                >{{ cat.categoryName }}</a
              >
              <!--<span>({{ cat.extra }})</span>-->
            </li>
          </ul>
        </div>
      </ng-template>
    </accordion-item>
    <accordion-item title="Author">
      <ng-template appAccordionContent>
        <div class="product-list-sidebar">
          <ul class="list-none">
            <li *ngFor="let author of bookAuthors; index as i">
              <a
                routerLink="/shop/author/{{ encodeURI(author.author) }}"
                [routerLinkActive]="['active-link']"
                >{{ author.author }}</a
              >
              <span>({{ author.bookCount }})</span>
            </li>
          </ul>
        </div>
      </ng-template>
    </accordion-item>
    <accordion-item title="Format">
      <ng-template appAccordionContent>
        <div class="product-list-sidebar">
          <ul class="list-none">
            <li *ngFor="let format of bookFormats; index as i">
              <a
                routerLink="/shop/format/{{ format.id }}"
                [routerLinkActive]="['active-link']"
                >{{ format.formatName }}</a
              >
              <!--<span>({{ format.extra }})</span>-->
            </li>
          </ul>
        </div>
      </ng-template>
    </accordion-item>
    <accordion-item title="Filter by price">
      <ng-template appAccordionContent>
        <div class="flex flex-col justify-center">
          <div class="w-full pl-8 pr-12 py-8">
            <p-slider [(ngModel)]="priceRangeValues" [range]="true"></p-slider>
          </div>
          <div class="p-8 pt-2 pb-8">
            <button
              (click)="applyPriceFilter()"
              type="button"
              class="px-4 py-2 bg-[#f75454] hover:bg-[#f84f4f] text-white">
              Filter
            </button>
            <span class="ml-4 text-sm"
              >Price: ${{ priceRangeValues[0] }}- ${{
                priceRangeValues[1]
              }}</span
            >
          </div>
        </div>
      </ng-template>
    </accordion-item>
  </app-accordion>
</div>
