<section class="inner-width mx-auto items-center px-4 py-16">
  <div class="flex flex-col md:flex-row">
    <aside class="md:w-[21rem] w-full px-4">
      <app-book-list-sidebar
        (newPriceFilter)="changePriceFilter($event)"></app-book-list-sidebar>
    </aside>
    <main class="px-4 md:w-[79rem] w-full px-4">
      <ng-container *ngIf="books.length > 0; else placeholder">
        <div class="book-grid grid xl:grid-cols-4 lg:grid-cols-3 grid-cols-2">
          <div
            *ngFor="let book of books; index as i"
            class="book-card"
            routerLink="/shop/details/{{ book.id }}">
            <div class="w-full h-full flex flex-col items-center relative">
              <div>
                <img
                  src="{{ book.imageUrl }}"
                  width="150"
                  height="200"
                  class="object-contain" />
              </div>
              <div class="card-content w-full flex flex-col items-start pt-6">
                <a class="text-xs uppercase text-[#f30b0b] pb-[4px]">{{
                  book.format.formatName
                }}</a>
                <a class="text-base font-medium pb-[4px]">
                  {{ book.name }}
                </a>
                <a class="text-sm text-gray-700 hover:text-[#f30b0b] pb-[4px]">
                  {{ book.author }}
                </a>
                <div class="flex justify-between items-center w-full">
                  <p class="text-lg font-medium">${{ book.unitPrice }}</p>
                  <i
                    class="cart-icon pi pi-shopping-cart"
                    style="font-size: 1.25rem"></i>
                </div>
              </div>
              <div
                class="cart-container w-full text-base font-medium uppercase cursor-pointer flex justify-start">
                <span class="cart-button">ADD TO CART</span>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="totalPages > 1" class="mt-8">
          <p-paginator
            [rows]="pageSize"
            [totalRecords]="totalElements"
            (onPageChange)="paginate($event)"></p-paginator>
        </div>
      </ng-container>
      <div>
        <ng-template #placeholder>
          <div class="w-full h-full flex justify-center items-center flex-col">
            <i
              class="pi pi-eye-slash text-gray-700 mb-8"
              style="font-size: 5rem"></i>
            <p class="text-2xl font-medium">There is no books available</p>
          </div>
        </ng-template>
      </div>
    </main>
  </div>
</section>
