<section
  class="checkout bg-[#fff6f6] border-b border-[1px] border-[#eae8e4] border-t-0 border-r-0 border-l-0">
  <div class="p-4 md:p-6 inner-width mx-auto mb-24">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <h4 class="py-6 text-3xl font-medium text-center">Checkout</h4>
      <div class="flex flex-col md:flex-row w-full md:justify-center gap-8">
        <div
          class="w-full md:w-3/4 flex flex-col border-[1px] border-custom-gray-light bg-white p-8">
          <h3 class="text-lg font-medium mb-4">Customer</h3>
          <div formGroupName="customer" class="flex flex-col">
            <div class="grid grid-cols-1 md:grid-cols-2 md:gap-x-8">
              <div class="form-group flex flex-col">
                <label for="first_name">First name</label>
                <input
                  formControlName="firstName"
                  id="first_name"
                  type="text" />
              </div>
              <div class="form-group flex flex-col">
                <label for="last_name">Last name</label>
                <input formControlName="lastName" id="last_name" type="text" />
              </div>
            </div>
            <div class="form-group w-full flex flex-col">
              <label for="company_name">Company name (optional)</label>
              <input
                formControlName="companyName"
                id="company_name"
                type="text" />
            </div>
            <div class="form-group w-full flex flex-col">
              <label for="phone">Phone number</label>
              <input formControlName="phoneNumber" id="phone" type="text" />
            </div>
            <div class="form-group w-full flex flex-col">
              <label for="email">Email address</label>
              <input formControlName="email" id="email" type="text" />
            </div>
          </div>
          <hr />
          <h3 class="text-lg font-medium my-4">Billing address</h3>
          <div formGroupName="billingAddress" class="flex flex-col">
            <div *ngIf="countries" class="form-group w-full flex flex-col">
              <label for="country">Country</label>
              <select
                (change)="getStatesForCountry('billingAddress')"
                formControlName="country"
                id="country">
                <option
                  *ngFor="let country of countries"
                  [ngValue]="country.name">
                  {{ country.name }}
                </option>
              </select>
            </div>
            <div class="form-group w-full flex flex-col">
              <label for="street">Street address</label>
              <input
                formControlName="street"
                placeholder="Street name and house number"
                id="street"
                type="text" />
            </div>
            <div class="form-group w-full flex flex-col">
              <label for="city">City</label>
              <input
                formControlName="city"
                placeholder="City/town"
                id="city"
                type="text" />
            </div>
            <div class="form-group w-full flex flex-col">
              <label for="state">State</label>
              <select formControlName="state" id="state">
                <option
                  *ngFor="let state of billingAddressStates"
                  [ngValue]="state.name">
                  {{ state.name }}
                </option>
              </select>
            </div>
            <div class="form-group w-full flex flex-col">
              <label for="zip">Zip code</label>
              <input
                formControlName="zipCode"
                placeholder="Zip code"
                id="zip"
                type="text" />
            </div>
          </div>
          <hr />
          <div class="w-full flex flex-col ship-area my-4">
            <div class="form-group w-full flex flex-row items-center">
              <input
                formControlName="differentShipping"
                id="ship_address"
                type="checkbox"
                name="ship_address" />
              <label
                style="margin-bottom: 0 !important"
                class="ml-4"
                for="ship_address"
                >Shipping to a different address
              </label>
            </div>
            <div
              [ngClass]="{
                'ship-address-checked':
                  checkoutForm.controls['differentShipping'].value
              }"
              formGroupName="shippingAddress"
              class="ship-address flex flex-col">
              <div class="form-group w-full flex flex-col">
                <label for="shipping-country">Country</label>
                <select
                  formControlName="country"
                  form
                  id="shipping-country"
                  (change)="getStatesForCountry('shippingAddress')">
                  <option
                    *ngFor="let country of countries"
                    [ngValue]="country.name">
                    {{ country.name }}
                  </option>
                </select>
              </div>
              <div class="form-group w-full flex flex-col">
                <label for="shipping-street">Street address</label>
                <input
                  formControlName="street"
                  placeholder="Street name and house number"
                  id="shipping-street"
                  type="text" />
              </div>
              <div class="form-group w-full flex flex-col">
                <label for="shipping-city">City</label>
                <input
                  formControlName="city"
                  placeholder="City/town"
                  id="shipping-city"
                  type="text" />
              </div>
              <div class="form-group w-full flex flex-col">
                <label for="shipping-state">State</label>
                <select formControlName="state" id="shipping-state">
                  <option
                    *ngFor="let state of shippingAddressStates"
                    [ngValue]="state.name">
                    {{ state.name }}
                  </option>
                </select>
              </div>

              <div class="form-group w-full flex flex-col">
                <label for="shipping-zip">Zip code</label>
                <input
                  formControlName="zipCode"
                  placeholder="Zip code"
                  id="shipping-zip"
                  type="text" />
              </div>
            </div>
          </div>
          <hr />

          <!--stripe elements credit card section-->
          <div class="mt-6">
            <h3 class="text-lg font-medium mb-4">Credit or Debit Card</h3>
            <div id="card-element"></div>
            <div id="card-errors"></div>
          </div>
        </div>
        <div class="w-full md:w-1/4 flex flex-col">
          <div class="border-[1px] border-black bg-white flex flex-col">
            <div class="flex flex-col p-6">
              <h4 class="font-medium text-lg mb-8">Your Order</h4>
              <div
                *ngFor="let item of cartItems"
                class="flex justify-between mb-4 pl-1">
                <p class="font-medium text-sm">
                  {{ item.name }} - {{ item.format.formatName }} ×
                  {{ item.quantity }}
                </p>
                <p class="font-medium text-sm">
                  {{ item.quantity * item.unitPrice | currency : 'USD' }}
                </p>
              </div>
            </div>
            <hr />
            <div class="flex flex-col p-6">
              <h4 class="font-medium text-lg mb-8">Cart Totals</h4>
              <div class="flex justify-between mb-4 pl-1">
                <p class="font-medium text-sm">Subtotal</p>
                <p class="font-medium text-sm">
                  {{ totalPrice | currency : 'USD' }}
                </p>
              </div>
            </div>
            <hr />
            <div class="flex flex-col p-6">
              <h4 class="font-medium text-lg mb-8">Shipping</h4>
              <div class="flex justify-between mb-4 pl-1">
                <p class="font-medium text-sm">
                  Flat rate: <span class="text-custom-red-light">FREE</span>
                </p>
              </div>
            </div>
            <hr />

            <div class="flex flex-col p-6">
              <div class="flex justify-between items-center pl-1">
                <h4 class="font-medium text-2xl">Total</h4>
                <p class="font-medium text-sm">
                  {{ totalPrice | currency : 'USD' }}
                </p>
              </div>
            </div>
          </div>
          <div class="w-full mt-8">
            <button
              [disabled]="isDisabled"
              [ngClass]="{ disabled: isDisabled }"
              type="submit"
              class="w-full py-4 bg-[#161619] text-white hover:bg-black">
              Place Order
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
