<section class="">
  <div
    class="inner-width mx-auto flex flex-wrap md:flex-row items-center justify-center">
    <div class="px-4 py-[3.5rem] w-full lg:w-1/2 xl:w-1/4 flex justify-center">
      <img
        src="./assets/full_cover_46.jpg"
        style="width: 300px; height: auto" />
    </div>
    <div class="flex flex-col py-[3.5rem] px-[2rem] w-full lg:w-2/4 xl:w-2/4">
      <h3 class="text-3xl font-medium mb-2">Empire of Silver</h3>
      <div class="mb-4">
        <span class="text-sm font-medium">By(author)</span
        ><span class="ml-2 text-sm font-normal text-gray-700"
          >Con Iggulden</span
        >
      </div>
      <p class="text-sm font-normal mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Excepteur sint occaecat.
      </p>
      <p class="text-sm font-normal mb-1">
        *The multi-million copy bestseller*
      </p>
      <p class="text-sm font-normal mb-1">Soon to be a major film</p>
      <p class="text-sm font-normal mb-1">
        A Number One New York Times Bestseller
      </p>

      <p class="text-sm font-normal mb-1 mt-4">
        ‘Painfully beautiful’ New York Times
      </p>
      <p class="text-sm font-normal mb-1">
        ‘Unforgettable . . . as engrossing as it is moving’ Daily Mail
      </p>
      <p class="text-sm font-normal mb-1">‘A rare achievement’ The Times</p>
      <p class="text-sm font-normal mb-1">
        ‘I can’t even express how much I love this book!’ Reese Witherspoon
      </p>
    </div>
    <div class="flex flex-col py-[3.5rem] px-[2rem] w-full lg:w-2/4 xl:w-1/4">
      <div class="border-[1px] border-[#eae8e4]">
        <div class="p-8 font-medium text-[1.375rem] bg-[#f6f5f3]">
          $29.59 – $59.95
        </div>
        <div class="p-8 flex flex-col">
          <div class="flex flex-col mb-4">
            <label for="option" class="font-medium text-sm ml-0.5 mb-0.5"
              >Book format</label
            >
            <select id="option" class="w-full select-input">
              <option>Choose an option</option>
              <option>Paperback</option>
              <option>Hard cover</option>
              <option>Kindle</option>
            </select>
          </div>
          <div class="flex flex-col w-full">
            <label for="amount" class="font-medium text-sm ml-0.5 mb-0.5"
              >Amount</label
            >
            <input
              id="amount"
              type="number"
              class="w-full p-[0.75rem] border-[1px] border-[#eae8e4]" />
          </div>
          <div class="w-full">
            <button
              type="button"
              class="w-full bg-[#676768] p-[1rem] font-normal text-white mt-[1.5rem]">
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="w-full py-8">
  <div class="inner-width mx-auto flex justify-center">
    <app-tab-menu>
      <tab-menu-item title="Description">
        <ng-template appTabMenuContent>
          <p class="font-normal text-[1rem]">
            We aim to show you accurate product information. Manufacturers,
            suppliers and others provide what you see here, and we have not
            verified it. See our disclaimer #1 New York Times Bestseller A Reese
            Witherspoon x Hello Sunshine Book Club Pick “I can’t even express
            how much I love this book! I didn’t want this story to end!”–Reese
            Witherspoon “Painfully beautiful.”–The New York Times Book Review
            “Perfect for fans of Barbara Kingsolver.”–Bustle For years, rumors
            of the “Marsh Girl” have haunted Barkley Cove, a quiet town on the
            North Carolina coast. So in late 1969, when handsome Chase Andrews
            is found dead, the locals immediately suspect Kya Clark, the
            so-called Marsh Girl. But Kya is not what they say. Sensitive and
            intelligent, she has survived for years alone in the marsh that she
            calls home, finding friends in the gulls and lessons in the sand.
            Then the time comes when she yearns to be touched and loved. When
            two young men from town become intrigued by her wild beauty, Kya
            opens herself to a new life–until the unthinkable happens. Perfect
            for fans of Barbara Kingsolver and Karen Russell, Where the Crawdads
            Sing is at once an exquisite ode to the natural world, a
            heartbreaking coming-of-age story, and a surprising tale of possible
            murder. Owens reminds us that we are forever shaped by the children
            we once were, and that we are all subject to the beautiful and
            violent secrets that nature keeps WHERE THE CRAWDADS LP
          </p>
        </ng-template>
      </tab-menu-item>
      <tab-menu-item title="Product Details">
        <ng-template appTabMenuContent>
          <div class="flex flex-col w-full items-center">
            <div
              class="w-full flex flex-col md:flex-row items-center hover:bg-gray-200 py-4">
              <div class="w-1/2 text-[1rem] font-medium text-center">SKU:</div>
              <div class="w-1/2 text-[1rem] text-center">BW-1003046</div>
            </div>
            <div
              class="w-full flex flex-col md:flex-row hover:bg-gray-200 py-4">
              <div class="w-1/2 text-[1rem] font-medium text-center">
                Category:
              </div>
              <div class="w-1/2 text-[1rem] text-center">
                <a href="#" class="text-[#f75454] hover:text-[#f30b0b]"
                  >Genre Fiction</a
                >
              </div>
            </div>
            <div
              class="w-full flex flex-col md:flex-row hover:bg-gray-200 py-4">
              <div class="w-1/2 text-[1rem] font-medium text-center">
                Book Author:
              </div>
              <div class="w-1/2 text-[1rem] text-center">
                <a href="#" class="text-[#f75454] hover:text-[#f30b0b]"
                  >Conn Iggulden</a
                >
              </div>
            </div>
            <div
              class="w-full flex flex-col md:flex-row hover:bg-gray-200 py-4">
              <div class="w-1/2 text-[1rem] font-medium text-center">
                Book Format:
              </div>
              <div class="w-1/2 text-[1rem] text-center">
                Hardcover, Kindle, Paperback
              </div>
            </div>
          </div>
        </ng-template>
      </tab-menu-item>
    </app-tab-menu>
  </div>
</section>
