form {
  -webkit-box-shadow: 0px 0px 30px -16px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 30px -16px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 30px -16px rgba(66, 68, 90, 1);
  padding: 24px;
}
