<i
  (click)="display = true"
  class="pi pi-shopping-cart text-black cursor-pointer"
  pBadge
  [value]="totalQuantity.toString()"
  severity="danger"
  style="font-size: 1.5rem"></i>

<p-sidebar [(visible)]="display" styleClass="p-sidebar-md" position="right">
  <section class="relative">
    <header
      class="px-8 sticky top-0 bg-white py-8 border-t-0 border-r-0 border-l-0 border-[1px] border-[#eae8e4]">
      <div class="flex flex-row justify-between">
        <div class="flex flex-row gap-x-8">
          <i class="pi pi-shopping-bag" style="font-size: 1.5rem"></i>
          <h4 class="text-lg font-medium">
            Your shopping bag ({{ totalQuantity }})
          </h4>
        </div>
        <div>
          <p
            (click)="clearCart()"
            class="font-medium text-custom-red-light hover:text-custom-red-strong cursor-pointer">
            Clear cart
          </p>
        </div>
      </div>
    </header>
    <main
      class="p-[2.5rem] pt-[1.5rem] pr-[1rem] w-full flex flex-col overflow-y-auto">
      <div
        *ngIf="totalQuantity === 0"
        class="w-full flex flex-row border-t-0 border-r-0 border-l-0 border-[1px] border-[#eae8e4] pb-[1rem] pt-[1rem]">
        <p class="text-lg">Your cart is empty</p>
      </div>
      <div
        *ngFor="let item of cartItems"
        class="w-full flex flex-row border-t-0 border-r-0 border-l-0 border-[1px] border-[#eae8e4] pb-[1rem] pt-[1rem]">
        <div class="max-w-[150px]">
          <img
            src="{{ item.imageUrl }}"
            class="object-contain"
            style="width: 100%; height: auto" />
        </div>
        <div class="flex flex-col px-8">
          <p
            class="mb-2 text-custom-red-light hover:text-custom-red-strong cursor-pointer text-sm font-normal">
            {{ item.format.formatName }}
          </p>
          <h5 class="text-base font-medium mb-1">
            {{ item.name }}
          </h5>
          <span
            class="text-sm text-gray-700 hover:text-custom-red-light cursor-pointer mb-2"
            >{{ item.author }}</span
          >
          <p class="text-lg font-medium">
            {{ item.quantity }} x {{ item.unitPrice | currency : 'USD' }}
          </p>
        </div>
        <div class="flex justify-end flex-1">
          <i
            (click)="deleteItemFromCart(item)"
            class="pi pi-times cursor-pointer"></i>
        </div>
      </div>

      <aside class="w-full mt-[1.5rem]">
        <div class="w-full flex flex-col">
          <div class="flex flex-row justify-between">
            <p class="text-lg font-medium">Subtotal:</p>
            <p class="text-lg font-medium">
              {{ this.totalPrice | currency : 'USD' }}
            </p>
          </div>
          <div class="mt-[2rem] w-full">
            <button
              (click)="display = false"
              routerLink="/shop/cart"
              type="button"
              class="w-full py-4 bg-transparent hover:bg-black hover:text-white border-[1px] border-[#161619]">
              View Cart
            </button>
          </div>
          <div class="mt-[2rem] w-full">
            <button
              (click)="display = false"
              [ngClass]="{ disabled: cartItems.length === 0 }"
              routerLink="/shop/checkout"
              type="button"
              class="w-full py-4 bg-[#161619] text-white hover:bg-black">
              Checkout
            </button>
          </div>
        </div>
      </aside>
    </main>
  </section>
</p-sidebar>
