<div class="w-full">
  <form class="w-full" [formGroup]="form" (submit)="submit()">
    <div class="w-full flex flex-col">
      <label for="float-input">State name</label>
      <input
        formControlName="stateName"
        id="float-input"
        type="text"
        pInputText />
      <div class="flex flex-col">
        <span
          class="mt-1 text-sm text-red-700"
          *ngIf="form.get('stateName')?.hasError('stateExists')"
          >State already exists</span
        >
      </div>
    </div>
    <div class="w-full flex justify-start mt-6">
      <button [disabled]="form.invalid" pButton type="submit">Save</button>
    </div>
  </form>
</div>
