/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

::placeholder {
  color: red;
  opacity: 1;
}

* {
  font-family: inter,Helvetica,Arial,sans-serif;
  color: #161619;
}
body {
  overflow-x: hidden;
}

.inner-width {
  @apply 2xl:max-w-[1600px] w-full;
}

.nav-link {
  text-decoration: none;
  display: block;
  font-weight: 500;
}

.nav-link:hover {
  color: #f30b0b;
}

.p-slider {
  width: 100%;
  margin: auto;

  .p-slider-range {
    background: black !important;
  }
  .p-slider-handle {
    border-color: black !important;
    box-shadow: none !important;
  }

  .p-slider-handle:hover {
    background: black !important;
  }
}

.p-slider .p-slider:not(.p-disabled) .p-slider-handle:hover {
  background: black !important;
  border-color: black !important;
}

.p-paginator .p-paginator-pages .p-paginator-page{
  color: #71717A;
  min-width: 2.5rem !important;
  height: 2.5rem !important;
}

.p-element .p-paginator-element{
  color: #71717A;
  min-width: 2.5rem !important;
  height: 2.5rem !important;
}

.p-dropdown {
  width: 100% !important;
}

.select-input {
  padding: 1rem;
  background: transparent;
  border: 1px solid #eae8e4;
  font-size: 0.875rem;
}

.p-sidebar .p-sidebar-content {
  padding: 0 !important;
}

.active-link {
  font-weight: 500;
  text-decoration: underline;
}

.disabled {
  cursor: not-allowed;
  background-color: rgb(199, 198, 198) !important;
  pointer-events:none;
}

.input-field {
  padding: 1rem;
  border: 1px solid #eae8e4;
  outline-color: black;
}

.table_wrapper {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}

table {
  width: 100%;

  thead, tbody {
    border: 1px solid #eae8e4;
    background: white;
  }

  th {
    text-align: left;
    padding: 2rem;
  }

  td {
    padding: 2rem;
  }

}

.p-datatable .p-datatable-header, .p-datatable .p-paginator-bottom {
  border: 1px solid #eae8e4 !important;
}

.p-multiselect {
  width: 100%;
}
.p-datatable .p-datatable-tbody > tr > td {
  @apply truncate;
}

.order-details-content {
  .p-button-label, .p-button-icon {
    color: white !important;
  }
}

.link-disabled {
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}
