.widget {
  background: #ffffff;
  width: 250px;
  height: 150px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 4px 0px rgba(66, 68, 90, 1);
  box-sizing: border-box;
}
